.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: @font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: @base-color;
  background-color: @decorate-background-color;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: @state-background-color;
  }

  &:active {
    color: @opacity-active-color;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}
