.contacts__box {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.contacts__title {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  width: 139px;
}

.contacts__text {
  margin: 0;
  width: 139px;
}

.contacts__logo {
  width: 280px;
  display: block;
  margin: 39px auto 52px;
}

.contacts__box-main-page {
  background-color: #ffffff;
}
