.icon {
  display: flex;
  width: 90px;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 174px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
  }
}

.icon__logo {
  margin-left: 57px;

  @media (min-width: @tablet-width) {
    margin-left: 19px;
  }
}

