.main-header {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.main-header__wrapper {
  margin: 0 auto;
  width: 280px;
  display: flex;
  align-items: center;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    min-height: 78px;
    width: 708px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 110px;
  }
}

.main-header__icons {
  display: inline-block;
  text-decoration: none;
}
