.main-nav {
  &--close {
    background: url(../../img/header/button-toggle-mobile.svg) no-repeat;
    background-size: 100% 100%;
    width: 24px;
    height: 16px;
    border: none;
  }
}

.main-nav__toggle {
  background: url(../../img/header/mobile-button-close.svg) no-repeat;
  width: 25px;
  height: 25px;
  display: block;
  border: none;
  cursor: pointer;
}

.main-nav--close .main-nav__list {
  display: none;
}

.main-nav__list {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
  background-color: #ffffff;
  list-style-type: none;
}
