.map {
  position: relative;
}

.map__image {
  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.map__icon {
  position: absolute;
  left: 0;
  top: 0;
}
