html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-container {
  flex-grow: 1;
  margin: 0 auto;
  width: 320px;
  min-height: 480px;
  position: relative;
}
@media (min-width: 768px) {
  .main-container {
    width: 768px;
  }
}
@media (min-width: 1440px) {
  .main-container {
    width: 100%;
    padding: 0;
  }
}
.main-container__wrapper {
  background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 300px, #ffffff 300px), url("../img/index/index-background-1.jpg");
  background-repeat: no-repeat;
  margin-bottom: 27px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .main-container__wrapper {
    background-image: linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 300px, #ffffff 300px), url("../img/index/index-background@2x.jpg");
    background-size: contain;
  }
}
@media (min-width: 768px) {
  .main-container__wrapper {
    background-image: none;
  }
}
@media (min-width: 1440px) {
  .main-container__wrapper {
    width: 100%;
    min-height: 696px;
    background-image: linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%);
    background-position: right top;
    margin: 0 auto 20px;
  }
  .main-container__wrapper::before {
    content: "";
    background-image: url("../img/index/cat-background-desktop.jpg");
    width: 50%;
    height: 696px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    z-index: -1;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .main-container__wrapper::before {
    background-image: url("../img/index/cat-background-desktop@2x.jpg");
  }
}
.main-container__header {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-container__header {
    background-color: transparent;
    color: #000000;
    position: relative;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .main-container__header {
    min-height: 696px;
    width: 1440px;
    padding: 0 110px;
    margin: 0 auto;
  }
}
.main-container__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  padding-top: 27px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .main-container__title {
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 60px 0 0 87px;
    margin-bottom: 41px;
  }
}
@media (min-width: 1440px) {
  .main-container__title {
    padding-top: 222px;
    margin-bottom: 40px;
    padding-left: 80px;
  }
}
.main-container__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .main-container__text {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 87px;
    margin-bottom: 20px;
  }
}
@media (min-width: 1440px) {
  .main-container__text {
    margin-bottom: 52px;
    padding-left: 80px;
  }
}
.main-container__image-food {
  display: block;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-container__image-food {
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1440px) {
  .main-container__image-food {
    width: 552px;
    height: 499px;
    position: absolute;
    top: 141px;
    left: 558px;
  }
}
.main-container__button-form {
  width: 280px;
  margin: 4px 20px -6px;
  padding: 11px 44px;
}
@media (min-width: 768px) {
  .main-container__button-form {
    margin: 0;
    margin-left: 25px;
    position: absolute;
    top: 292px;
    left: 93px;
    padding: 18px 26px;
    width: 244px;
  }
}
@media (min-width: 1440px) {
  .main-container__button-form {
    position: static;
    margin-left: 80px;
  }
}
@media (min-width: 1440px) {
  .main-header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
  }
  .main-header--static {
    position: static;
    z-index: 0;
  }
}
.main-header__wrapper {
  margin: 0 auto;
  width: 320px;
  height: 65px;
  padding: 10px 0 17px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-header__wrapper {
    min-height: 78px;
    width: 768px;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-header__wrapper {
    width: 1440px;
    min-height: 109px;
    padding: 0 110px;
  }
}
.main-header__icons {
  text-decoration: none;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .main-header__icons {
    padding-left: 0;
  }
}
.icon {
  display: flex;
  width: 90px;
}
@media (min-width: 768px) {
  .icon {
    align-items: center;
    width: 174px;
  }
}
@media (min-width: 1440px) {
  .icon {
    width: 202px;
  }
}
.icon__logo {
  margin-left: 57px;
  margin-top: 14px;
}
@media (min-width: 768px) {
  .icon__logo {
    display: none;
  }
}
@media (min-width: 768px) {
  .icon__logo-tablet {
    display: inline-block;
    margin-top: 25px;
  }
}
@media (min-width: 1440px) {
  .icon__logo-tablet {
    display: none;
  }
}
@media (min-width: 768px) {
  .icon__logo-desktop {
    display: none;
  }
}
@media (min-width: 1440px) {
  .icon__logo-desktop {
    display: inline-block;
    margin-top: 56px;
  }
}
@media (min-width: 768px) {
  .icon__image {
    display: none;
  }
}
@media (min-width: 768px) {
  .icon__state:hover {
    opacity: 0.8;
  }
  .icon__state:active {
    opacity: 0.6;
  }
}
.main-nav {
  position: relative;
}
@media (min-width: 768px) {
  .main-nav {
    background-image: none;
    position: static;
  }
}
.main-nav__toggle {
  padding: 0;
  position: absolute;
  top: -45px;
  right: 20px;
  width: 24px;
  height: 16px;
  display: block;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--close .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 13px 0 0 #000000;
}
.main-nav--opened .main-nav__toggle {
  top: -40px;
  left: 280px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 5px;
  width: 25px;
  height: 2px;
  background-color: #000000;
}
.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  .main-nav--close .main-nav__list {
    display: none;
  }
}
.main-nav--opened .main-nav__wrapper .main-nav--nojs .main-nav__toggle {
  display: none;
}
.main-nav--nojs .site-list__item {
  display: block;
}
.main-nav__list--dark-text .site-list__link-item {
  color: #111111;
}
@media (min-width: 768px) {
  .main-nav__list--dark-text .site-list__link-item:hover {
    color: #000000;
    opacity: 0.6;
  }
  .main-nav__list--dark-text .site-list__link-item:active {
    opacity: 0.3;
  }
}
@media (min-width: 1440px) {
  .main-nav__list--dark-text .site-list__item--current {
    position: relative;
  }
  .main-nav__list--dark-text .site-list__item::after {
    position: absolute;
    right: 0;
    left: 0;
    bottom: -8px;
    height: 2px;
    background-color: #68b738;
  }
}
.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .button {
    font-size: 20px;
  }
}
.site-list {
  padding: 0;
  margin: 0;
  margin-top: 17px;
  list-style-type: none;
  width: 320px;
  min-height: 198px;
  position: absolute;
  z-index: 10;
  top: -22px;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 0;
    width: 440px;
    padding: 0;
    margin-top: 43px;
    margin-left: 95px;
    position: static;
  }
}
@media (min-width: 1440px) {
  .site-list {
    width: 500px;
    text-transform: uppercase;
    margin-top: 70px;
    justify-content: flex-end;
  }
}
.site-list a {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
  display: block;
  padding: 21px 69px;
  padding-bottom: 24px;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid #e6e6e6;
  text-align: center;
}
.site-list a:last-child {
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 768px) {
  .site-list a {
    padding: 0;
    border: none;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .site-list a:last-child {
    border: none;
  }
  .site-list a:hover {
    color: #000000;
    opacity: 0.6;
  }
  .site-list a:active {
    opacity: 0.3;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .site-list a {
    color: #ffffff;
    background-color: transparent;
    font-size: 20px;
    line-height: 30px;
  }
  .site-list a:hover {
    color: #ffffff;
    opacity: 0.6;
  }
  .site-list a:active {
    opacity: 0.3;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    margin-right: 32px;
  }
  .site-list__item:nth-child(3n) {
    margin-right: 0;
    margin-left: 7px;
  }
  .site-list__item--current {
    position: relative;
  }
  .site-list__item--current::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -8px;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .site-list__item::after {
    background-color: #ffffff;
  }
}
@media (min-width: 768px) {
  .weight {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .weight {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    padding: 60px 110px 71px;
    margin: 0 auto;
  }
}
.weight__wrapper {
  width: 240px;
  color: #444444;
  background-color: #f2f2f2;
  padding: 26px 20px 18px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.weight__wrapper--gain .weight__title {
  padding-left: 70px;
  margin-top: 5px;
}
.weight__wrapper--gain .weight__title::after {
  content: "";
  background-image: url("../img/index/cat-pro.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 28px;
  width: 67px;
  left: -9px;
  top: 5px;
}
@media (min-width: 768px) {
  .weight__wrapper {
    width: 629px;
    margin-top: -27px;
    margin-bottom: 57px;
    padding: 77px 27px 60px 52px;
  }
  .weight__wrapper--gain .weight__title {
    padding: 0;
    margin-top: -3px;
    padding-right: 268px;
  }
  .weight__wrapper--gain .weight__title::after {
    background-image: url("../img/index/cat-pro.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 112px;
    width: 268px;
    left: 360px;
    top: 56px;
  }
  .weight__wrapper:last-child {
    margin-bottom: 27px;
  }
}
@media (min-width: 1440px) {
  .weight__wrapper {
    width: 466px;
    margin: 0;
    margin-right: 80px;
    padding: 47px 52px 57px;
  }
  .weight__wrapper:nth-child(2n) {
    margin-right: 0;
    margin-bottom: 0;
  }
  .weight__wrapper--gain .weight__title {
    padding-left: 162px;
    margin-top: 30px;
  }
  .weight__wrapper--gain .weight__title::after {
    background-image: url("../img/index/cat-pro.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 56px;
    width: 134px;
    left: -20px;
    top: -10px;
  }
}
.weight__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  margin: 2px 0 29px;
  padding-left: 70px;
  position: relative;
}
.weight__title::before {
  content: "";
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #68b738;
  border-radius: 50%;
  position: absolute;
  left: 0;
  bottom: -7px;
}
.weight__title::after {
  content: "";
  background-image: url("../img/index/cat-slim.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 36px;
  position: absolute;
  left: 9px;
  bottom: -5px;
}
@media (min-width: 768px) {
  .weight__title {
    font-size: 36px;
    line-height: 1;
    margin: 2px 0 24px;
    padding: 0;
    padding-right: 289px;
  }
  .weight__title::before {
    content: "";
    height: 200px;
    width: 200px;
    top: 15px;
    left: 394px;
    bottom: 0;
  }
  .weight__title::after {
    content: "";
    background-image: url("../img/index/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 194px;
    width: 140px;
    position: absolute;
    left: 425px;
    bottom: 0;
    top: 4px;
  }
}
@media (min-width: 1440px) {
  .weight__title {
    margin-top: 30px;
    margin-bottom: 73px;
    padding-left: 162px;
  }
  .weight__title::before {
    height: 100px;
    width: 100px;
    top: -30px;
    left: 0;
  }
  .weight__title::after {
    content: "";
    background-image: url("../img/index/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 97px;
    width: 70px;
    position: absolute;
    left: 15px;
    top: -36px;
  }
}
.weight-excerpt {
  width: 240px;
  padding-bottom: 23px;
  margin: 0 0 2px;
  border-bottom: 1px solid #d9d9d9;
}
@media (min-width: 768px) {
  .weight-excerpt {
    width: 340px;
    border-bottom: none;
    margin: 0;
    margin-bottom: 37px;
    padding-bottom: 0;
    padding-right: 285px;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .weight-excerpt {
    margin-bottom: 12px;
    padding: 0;
    width: 470px;
  }
}
.weight__link-catalog {
  display: inline-block;
  text-decoration: none;
  color: #000000;
  margin-top: 15px;
}
.weight__name-catalog {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-right: 57px;
  cursor: pointer;
  background: url("../img/index/short-arrow.svg") no-repeat 100px 7px;
}
.weight__name-catalog:hover {
  background: url("../img/index/longer-arrow.svg") no-repeat 100px 7px;
}
.weight__name-catalog:active {
  opacity: 0.3;
  background: url("../img/index/longer-arrow.svg") no-repeat 100px 7px;
}
@media (min-width: 768px) {
  .weight__name-catalog {
    font-size: 20px;
    line-height: 1.5;
    background-position: 131px 9px;
  }
  .weight__name-catalog:hover,
  .weight__name-catalog:active {
    background-position: 125px 9px;
  }
}
@media (min-width: 1440px) {
  .weight__name-catalog {
    background-position: 133px 9px;
  }
}
.description__wrapper {
  margin-bottom: 49px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .description__wrapper {
    padding: 15px 30px 5px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .description__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }
}
.description__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 22px 0 40px;
}
@media (min-width: 768px) {
  .description__title {
    margin: 0;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 35px;
  }
}
@media (min-width: 1440px) {
  .description__title {
    margin-top: 2px;
  }
}
.description__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .description__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.description__item {
  padding-left: 80px;
  margin-bottom: 27px;
  position: relative;
}
.description__item:last-child {
  margin-bottom: 0;
}
.description__item::before {
  content: "";
  display: block;
  height: 60px;
  width: 60px;
  background-color: #68b738;
  position: absolute;
  left: 0;
  top: -2px;
}
.description__item::after {
  height: 50px;
  width: 36px;
  position: absolute;
  left: 15px;
  top: 13px;
}
.description__item--leaf::after {
  content: url("../img/index/icon_leaf.svg");
}
.description__item--tub::after {
  content: url("../img/index/icon_tub.svg");
}
.description__item--eat::after {
  content: url("../img/index/icon_eat.svg");
}
.description__item--alarm::after {
  content: url("../img/index/icon_alarm.svg");
}
@media (min-width: 768px) {
  .description__item {
    width: 250px;
    min-height: 280px;
    padding: 0;
    margin-right: 133px;
    margin-bottom: 37px;
  }
  .description__item:nth-child(2n) {
    margin-right: 0;
  }
  .description__item--leaf {
    background: url("../img/numbers/picture-number-one.svg") no-repeat 70% 65%;
    height: 280px;
  }
  .description__item--tub {
    background: url("../img/numbers/picture-number-two.svg") no-repeat 90% 65%;
    height: 280px;
  }
  .description__item--eat {
    background: url("../img/numbers/picture-number-three.svg") no-repeat 90% 65%;
    height: 280px;
  }
  .description__item--alarm {
    background: url("../img/numbers/picture-number-four.svg") no-repeat 95% 65%;
    height: 280px;
  }
  .description__item::before {
    height: 80px;
    width: 80px;
    left: 0;
    top: 37px;
  }
  .description__item::after {
    left: 25px;
    top: 60px;
  }
}
@media (min-width: 1440px) {
  .description__item {
    padding: 0;
    margin-right: 80px;
    margin-bottom: 26px;
    width: 245px;
  }
  .description__item:nth-child(2n) {
    margin-right: 80px;
  }
  .description__item:last-child {
    margin-right: 0;
  }
  .description__item--leaf {
    background: url("../img/numbers/picture-number-one.svg") no-repeat 73% 65%;
    height: 280px;
  }
  .description__item--eat {
    background: url("../img/numbers/picture-number-three.svg") no-repeat 95% 65%;
    height: 280px;
  }
  .description__item--alarm {
    background: url("../img/numbers/picture-number-four.svg") no-repeat 100% 65%;
    height: 280px;
  }
}
.description__item p {
  margin: 0;
}
@media (min-width: 768px) {
  .description__item p {
    margin-top: 148px;
    font-size: 16px;
    line-height: 1.5;
  }
}
.description__item br {
  display: none;
}
@media (min-width: 768px) {
  .description__item br {
    display: inline;
  }
}
@media (min-width: 768px) {
  .example-result {
    border-top: 1px solid #e6e6e6;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff 57%, #eaeaea 57%);
  }
}
@media (min-width: 1440px) {
  .example-result {
    background-image: linear-gradient(to bottom, #ffffff 27%, #f2f2f2 27%);
    border-top: none;
  }
}
.example-result__wrapper {
  width: 280px;
  background-color: #eaeaea;
  padding: 27px 20px 44px;
}
@media (min-width: 768px) {
  .example-result__wrapper {
    padding: 44px 30px 50px;
    width: 768px;
    box-sizing: border-box;
    background-color: transparent;
    position: relative;
  }
}
@media (min-width: 1440px) {
  .example-result__wrapper {
    width: 1440px;
    margin: 0 auto;
    padding: 26px 110px 100px;
    box-sizing: border-box;
  }
}
.example-result__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example-result__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 63px;
  }
}
@media (min-width: 1440px) {
  .example-result__title {
    margin-top: 14px;
    margin-bottom: 146px;
  }
}
.example-result__value {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .example-result__value {
    width: 366px;
    display: inline-flex;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .example-result__value {
    margin-bottom: 40px;
  }
}
.example-result__text {
  margin: 0;
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .example-result__text {
    font-size: 16px;
    line-height: 1.5;
    width: 708px;
    margin-bottom: 40px;
  }
}
@media (min-width: 1440px) {
  .example-result__text {
    width: 436px;
    margin-bottom: 55px;
  }
}
.example-result__range {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example-result__range {
    margin: 0 85px;
    padding-bottom: 10px;
    width: 595px;
  }
}
@media (min-width: 1440px) {
  .example-result__range {
    position: absolute;
    top: -2px;
    right: -5px;
    padding-bottom: 0;
  }
}
.example-result__cost {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example-result__cost {
    display: inline-block;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 168px;
    text-align: right;
    position: absolute;
  }
}
@media (min-width: 1440px) {
  .example-result__cost {
    width: 436px;
    display: block;
    white-space: pre;
    margin: 0;
    margin-left: -110px;
  }
}
.example-result__cost br {
  display: none;
}
@media (min-width: 768px) {
  .example-result__cost br {
    display: inline-block;
  }
}
@media (min-width: 1440px) {
  .example-result__cost br {
    display: none;
  }
}
.range__scale {
  display: inline-block;
  width: 86px;
  margin: 0 13px;
  margin-right: 16px;
  position: relative;
  height: 14px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  border-radius: 6px;
}
@media (min-width: 768px) {
  .range__scale {
    width: 426px;
    background-color: #dcdcdc;
    height: 6px;
    border: none;
    top: -4px;
    left: 6px;
  }
}
.range__bar {
  height: 6px;
  background: #68b738;
  border-radius: 6px;
  position: absolute;
  margin-left: 6px;
  margin-top: 3px;
}
@media (min-width: 768px) {
  .range__bar {
    background-color: transparent;
  }
}
.range__toggle {
  position: absolute;
  top: 0;
  left: 30px;
  display: none;
}
@media (min-width: 768px) {
  .range__toggle {
    display: block;
    width: 33px;
    height: 33px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    left: 195px;
    top: -17px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);
  }
  .range__toggle::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
    top: 39%;
    left: 38%;
  }
  .range__toggle:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
  }
  .range__toggle:active {
    border-color: #68b738;
  }
}
.range__cat-before {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .range__cat-before {
    display: none;
  }
}
.range__double-cat {
  display: none;
}
@media (min-width: 768px) {
  .range__double-cat {
    display: block;
    margin-top: 70px;
    margin-bottom: 28px;
    margin-left: -25px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .range__double-cat {
    margin-top: 0;
  }
}
.range__text {
  display: inline-block;
  cursor: pointer;
}
.range__text:first-of-type {
  margin-left: 40px;
}
@media (min-width: 768px) {
  .range__text {
    font-size: 20px;
    line-height: 1.5;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.24);
    margin-left: 13px;
  }
  .range__text:first-of-type {
    margin-left: -15px;
  }
  .range__text:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  .range__text:active {
    border-bottom: none;
  }
}
.main-footer {
  min-height: 236px;
}
@media (min-width: 768px) {
  .main-footer {
    min-height: 150px;
  }
}
@media (min-width: 1440px) {
  .main-footer {
    width: 100%;
  }
}
.main-footer__wrapper {
  width: 320px;
  margin: 0 auto 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 768px;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    width: 100%;
    position: relative;
  }
}
.main-footer__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}
.main-footer__container::after {
  content: "";
  position: absolute;
  width: 88%;
  height: 1px;
  background-color: #d9d9d9;
  top: 40%;
  left: 20px;
}
@media (min-width: 768px) {
  .main-footer__container {
    background-color: #f2f2f2;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 30px 53px;
  }
  .main-footer__container::after {
    width: 0;
  }
}
@media (min-width: 1440px) {
  .main-footer__container {
    padding: 57px 110px 58px;
  }
}
@media (min-width: 768px) {
  .main-footer__container a {
    align-self: flex-end;
  }
}
.main-footer__logo {
  display: block;
  margin: 40px auto 0;
  fill: #111111;
  width: 280px;
  padding-bottom: 28px;
}
.main-footer__logo:hover {
  opacity: 0.8;
}
.main-footer__logo:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .main-footer__logo {
    margin: 0;
    display: inline;
    width: auto;
    padding-bottom: 0;
    margin-top: 10px;
  }
}
@media (min-width: 1440px) {
  .main-footer__logo {
    margin-top: 0;
  }
}
.main-footer__copyright {
  padding: 0 20px 22px;
}
@media (min-width: 768px) {
  .main-footer__copyright {
    padding: 0;
  }
}
.contacts__box {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .contacts__box {
    padding: 59px 70px 55px;
  }
}
@media (min-width: 1440px) {
  .contacts__box {
    width: 405px;
    padding: 56px 80px;
    margin: 0;
    position: absolute;
    z-index: 1;
    top: 95px;
    left: 110px;
  }
  .contacts__box--extra-page {
    background-color: #ffffff;
  }
}
.contacts__box--main-page {
  background-color: #ffffff;
}
.contacts__title {
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #111111;
  text-transform: uppercase;
  width: 139px;
}
@media (min-width: 768px) {
  .contacts__title {
    font-size: 20px;
    line-height: 26px;
    width: 200px;
    padding-top: 2px;
  }
}
@media (min-width: 1440px) {
  .contacts__title {
    padding-top: 4px;
  }
}
.contacts__text {
  margin: 0;
  width: 139px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts__text {
    width: 160px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}
@media (min-width: 1440px) {
  .contacts__text {
    text-align: left;
    margin-left: 55px;
  }
}
@media (min-width: 768px) {
  .contacts__text span {
    display: inline-block;
    margin-top: 20px;
  }
}
.map {
  position: relative;
}
@media (min-width: 768px) {
  .map__image {
    width: 768px;
    height: 400px;
  }
}
@media (min-width: 1440px) {
  .map__image {
    width: 100%;
  }
}
.map__icon {
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 1440px) {
  .map__icon {
    top: 40%;
    left: 49%;
  }
}
.map iframe {
  border: none;
  display: block;
}
.social__list {
  padding: 0;
  margin: 20px auto 15px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 127px;
}
@media (min-width: 768px) {
  .social__list {
    margin: 0 70px 0 88px;
  }
}
@media (min-width: 1440px) {
  .social__list {
    margin-left: 95px;
  }
}
.social__item {
  margin-right: 20px;
  margin-top: 8px;
}
.social__item:last-child {
  margin-right: 0;
}
@media (min-width: 1440px) {
  .social__item {
    margin: 0;
  }
}
.social__link svg {
  color: #666666;
}
.social__link svg:hover {
  color: #68b738;
}
.social__link svg:active {
  color: rgba(104, 183, 56, 0.3);
}
.social__link--youtube {
  margin-left: -5px;
}
@media (min-width: 1440px) {
  .social__link--youtube {
    margin-left: 0;
  }
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  padding-top: 22px;
  position: relative;
}
.copyright::before {
  content: "";
  position: absolute;
  width: 88%;
  height: 1px;
  background-color: #d9d9d9;
  top: 0;
  left: 20px;
}
@media (min-width: 768px) {
  .copyright {
    width: auto;
    padding: 0;
  }
  .copyright::before {
    width: 0;
  }
}
.copyright__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #444444;
  display: flex;
  align-items: center;
}
.copyright__link--icon {
  fill: #666666;
  margin-left: 138px;
}
.copyright__link--icon:hover {
  fill: #68b738;
}
.copyright__link:active {
  color: rgba(104, 183, 56, 0.3);
}
@media (min-width: 768px) {
  .copyright__link--icon {
    margin-left: 22px;
  }
}
.main-inner {
  width: 100%;
  position: relative;
}
.main-inner__wrapper {
  width: 320px;
  padding: 27px 0 35px;
  border-top: 1px solid #d9d9d9;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-inner__wrapper {
    width: 768px;
    padding: 63px 0 76px;
    border-top: none;
  }
}
@media (min-width: 1440px) {
  .main-inner__wrapper {
    width: 1440px;
    padding: 74px 0 85px;
  }
}
.main-inner__title {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: #000000;
  margin-bottom: 40px;
  padding-left: 20px;
}
@media (min-width: 768px) {
  .main-inner__title {
    margin-bottom: 82px;
    padding: 0 30px;
    font-size: 60px;
  }
}
@media (min-width: 1440px) {
  .main-inner__title {
    padding-left: 110px;
    margin-bottom: 76px;
    margin-top: 5px;
  }
}
.cat-products__wrapper {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .cat-products__wrapper {
    border-bottom: none;
    padding: 0 30px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .cat-products__wrapper {
    padding: 0 110px;
  }
}
.cat-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 19px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .cat-products__list {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 60px;
    margin-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .cat-products__list {
    grid-template-columns: repeat(4, 245px);
    gap: 55px 80px;
    margin-bottom: 73px;
  }
}
.cat-products__item {
  padding: 11px 20px 24px;
  border-top: 1px solid #ebebeb;
  display: grid;
  grid-template-rows: 10px min-content 11px auto 20px min-content;
  grid-template-columns: 27px auto 30px 77px 65px;
}
.cat-products__item--bigger-con {
  grid-template-rows: 10px min-content 0 auto 7px min-content;
  grid-template-columns: 27px auto 30px 77px 65px;
}
@media (min-width: 768px) {
  .cat-products__item {
    border-top: none;
    padding: 0 36px;
    background-image: linear-gradient(to bottom, #ffffff 16%, #f2f2f2 16%);
    grid-template-columns: 42px 20px 130px 18px 42px;
    grid-template-rows: min-content 30px auto 16px auto 30px min-content 39px;
  }
}
@media (min-width: 1440px) {
  .cat-products__item {
    background-image: linear-gradient(to bottom, #ffffff 17%, #f2f2f2 17%);
    padding: 0 37px 40px 38px;
    grid-template-columns: 1px 8px auto 125px auto 1px;
    grid-template-rows: auto 38px auto 17px auto 33px min-content;
  }
  .cat-products__item--bigger-con {
    grid-template-columns: 3px 1px 20px 125px 20px 1px;
    grid-template-rows: auto 35px auto 17px auto 33px min-content;
  }
}
.cat-products__link-item {
  text-decoration: none;
  grid-column: 4/5;
  grid-row: 2/3;
}
@media (min-width: 768px) {
  .cat-products__link-item {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}
@media (min-width: 1440px) {
  .cat-products__link-item {
    grid-column: 4/5;
  }
}
.cat-products__link-img {
  grid-column: 2/3;
  grid-row: 2/5;
  align-self: center;
}
@media (min-width: 768px) {
  .cat-products__link-img {
    grid-row: 1/2;
    grid-column: 2/-2;
  }
}
.cat-products__title {
  margin: 0;
  color: #222222;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .cat-products__title {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}
.cat-products__details {
  list-style-type: none;
  padding: 0;
  grid-row: 4/5;
  grid-column: 4/6;
}
@media (min-width: 768px) {
  .cat-products__details {
    grid-row: 5/6;
    grid-column: 1/-1;
  }
}
@media (min-width: 1440px) {
  .cat-products__details {
    grid-column: 2/-2;
  }
}
.cat-products__show-all {
  color: #444444;
  background-color: #f2f2f2;
}
.cat-products__button-form {
  grid-column: 1/-1;
  grid-row: 6;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .cat-products__button-form {
    grid-row: 7/8;
  }
}
@media (min-width: 1440px) {
  .cat-products__button-form {
    grid-column: 1/-2;
  }
}
.cat-products__item-more {
  width: 280px;
  padding: 0 20px;
  border-top: 1px solid #ebebeb;
}
@media (min-width: 768px) {
  .cat-products__item-more {
    width: 249px;
    margin-top: 83px;
    padding: 52px 36px 33px;
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .cat-products__item-more {
    width: 169px;
    padding: 51px 37px 41px;
    margin-top: 86px;
  }
}
.cat-products__image {
  margin-top: 10px;
  margin-left: 10px;
}
.cat-products__image--bigger {
  margin-left: -1px;
}
@media (min-width: 768px) {
  .cat-products__image {
    width: 161px;
    height: 172px;
    margin-top: 35px;
    margin-left: 3px;
  }
  .cat-products__image--bigger {
    width: 168px;
    height: 200px;
    margin-top: 10px;
  }
}
@media (min-width: 1440px) {
  .cat-products__image--bigger {
    margin-left: 0;
  }
}
.cat-products__list .cat-products__item:nth-child(odd):not(:first-child) .cat-products__link-img {
  margin-top: 15px;
}
.cat-products__list .cat-products__item--bigger-con:nth-child(even):not(:nth-child(2)) .cat-products__link-img {
  margin-top: -5px;
}
@media (min-width: 768px) {
  .cat-products__list .cat-products__item:nth-child(odd):not(:first-child) .cat-products__link-img {
    margin-top: 0;
  }
  .cat-products__list .cat-products__item--bigger-con:nth-child(even):not(:nth-child(2)) .cat-products__link-img {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  .extra-goods {
    padding: 0;
  }
}
.extra-goods__title {
  padding-left: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: #000000;
  margin-bottom: 35px;
  position: relative;
}
.extra-goods__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 15px;
  background-color: #68b738;
  height: 2px;
  width: 17%;
  z-index: -1;
}
@media (min-width: 768px) {
  .extra-goods__title {
    padding-left: 67px;
    padding-right: 36px;
    margin-bottom: 80px;
    font-size: 36px;
  }
  .extra-goods__title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 23px;
    background-color: #68b738;
    height: 2px;
    width: 30px;
  }
  .extra-goods__title::after {
    width: 43%;
    top: 23px;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .extra-goods__title {
    padding-left: 110px;
    margin-bottom: 81px;
  }
  .extra-goods__title::before {
    left: 0;
    top: 23px;
    width: 70px;
  }
  .extra-goods__title::after {
    width: 957px;
    top: 23px;
  }
}
@media (min-width: 1440px) {
  .extra-goods__title {
    padding-left: 110px;
  }
}
.extra-goods__wrapper {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .extra-goods__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .extra-goods__wrapper {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}
.extra-goods__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .extra-goods__list {
    border: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .extra-goods__list {
    border: none;
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    flex-direction: column;
    width: 896px;
  }
}
.extra-goods__item {
  margin-bottom: 19px;
  padding-top: 13px;
  border-top: 1px solid #cdcdcd;
  display: grid;
  grid-template-columns: 1fr 39px;
  grid-template-rows: auto auto min-content;
  row-gap: 10px;
}
.extra-goods__item:last-child {
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 0;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .extra-goods__item {
    padding: 27px 37px;
    grid-template-columns: 1fr 132px 48px 45px;
    grid-template-rows: auto 22px min-content;
    row-gap: 0;
    margin-bottom: 0;
  }
  .extra-goods__item:first-child {
    border-top: none;
  }
  .extra-goods__item:last-child {
    border-bottom: none;
    padding-bottom: 28px;
  }
}
@media (min-width: 1440px) {
  .extra-goods__item {
    padding: 14px 0 17px;
    display: grid;
    grid-template-columns: 325px 244px 80px 1fr;
    grid-template-rows: min-content;
    align-items: center;
  }
  .extra-goods__item:last-child {
    padding-bottom: 14px;
  }
}
.extra-goods_subtitle {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .extra-goods_subtitle {
    font-size: 20px;
    line-height: 20px;
  }
}
.extra-goods__amount {
  line-height: 20px;
  grid-column: 1/2;
}
@media (min-width: 768px) {
  .extra-goods__amount {
    font-size: 16px;
    grid-column: 2/3;
    text-align: right;
    margin-top: 2px;
  }
}
@media (min-width: 1440px) {
  .extra-goods__amount {
    margin-top: 10px;
    text-align: left;
  }
}
.extra-goods__price {
  line-height: 20px;
}
@media (min-width: 768px) {
  .extra-goods__price {
    font-size: 16px;
    grid-column: 4/5;
    text-align: right;
    margin-top: 2px;
  }
}
@media (min-width: 1440px) {
  .extra-goods__price {
    grid-column: 3/4;
    margin-top: 10px;
    text-align: left;
  }
}
.extra-goods__button-form {
  grid-column: 1/-1;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .extra-goods__button-form {
    grid-row: 3/4;
  }
}
@media (min-width: 1440px) {
  .extra-goods__button-form {
    grid-row: 1;
    grid-column: 4/5;
    font-size: 16px;
    line-height: 20px;
  }
}
.extra-goods__benefit {
  background-image: url("../img/catalog/cat-in-backpack.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  margin-top: 35px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  .extra-goods__benefit {
    background-image: url("../../../img/catalog/cat-in-backpack@2x.jpg");
    background-size: contain;
  }
}
@media (min-width: 768px) {
  .extra-goods__benefit {
    background-image: url("../img/catalog/cat-in-backpack-tablet.png");
    width: 707px;
    height: 200px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 2dppx) {
  .extra-goods__benefit {
    background-image: url("../../../img/catalog/cat-in-backpack-tablet@2x.jpg");
    background-size: contain;
  }
}
@media (min-width: 768px) {
  .extra-goods__benefit {
    margin-top: 70px;
  }
}
@media (min-width: 1440px) {
  .extra-goods__benefit {
    background-image: url("../img/catalog/cat-in-backpack.jpg");
    background-position: -36px 0;
    width: 245px;
    height: 289px;
    margin-top: 0;
    margin-left: -5px;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1440px) and (min-resolution: 2dppx) {
  .extra-goods__benefit {
    background-image: url("../../../img/catalog/cat-in-backpack@2x.jpg");
    background-size: cover;
  }
}
.extra-goods__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(104, 183, 56, 0.85);
}
.extra-goods__benefit-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  align-items: center;
  text-align: center;
  position: relative;
  top: 135px;
  padding: 57px;
}
.extra-goods__benefit-text::before {
  content: url("../img/catalog/icon_gift.svg");
  position: absolute;
  left: 36%;
  bottom: 95%;
}
@media (min-width: 768px) {
  .extra-goods__benefit-text {
    width: 170px;
    top: 15px;
    left: 365px;
    text-align: left;
  }
  .extra-goods__benefit-text::before {
    bottom: 0;
    top: 42px;
    left: -287px;
  }
}
@media (min-width: 1440px) {
  .extra-goods__benefit-text {
    top: 175px;
    left: 26px;
    text-align: center;
    padding: 10px;
  }
  .extra-goods__benefit-text::before {
    top: -119px;
    left: 59px;
  }
}
.main-form__wrapper {
  width: 320px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 27px 0 32px;
  border-top: 1px solid #d9d9d9;
}
.main-form__wrapper:hover {
  border-color: #cdcdcd;
}
.main-form__wrapper:focus {
  border: none;
  outline: 2px solid #444444;
}
.main-form__wrapper:focus:invalid {
  border: 2px solid #ff8282;
}
@media (min-width: 768px) {
  .main-form__wrapper {
    width: 768px;
    padding: 63px 0 72px 0;
    padding-bottom: 72px;
    border: none;
  }
}
@media (min-width: 1440px) {
  .main-form__wrapper {
    width: 1440px;
    padding: 77px 0 80px;
    margin: 0 auto;
  }
}
.main-form__title {
  margin: 0;
  margin-bottom: 37px;
  padding-left: 20px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}
@media (min-width: 768px) {
  .main-form__title {
    font-size: 60px;
    line-height: 1;
    padding-left: 69px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .main-form__title {
    padding-left: 110px;
    margin-bottom: 57px;
  }
}
.main-form__text {
  margin: 0;
  margin-bottom: 39px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main-form__text {
    font-size: 20px;
    line-height: 30px;
    padding: 0 70px;
    margin-bottom: 66px;
  }
}
@media (min-width: 1440px) {
  .main-form__text {
    padding-left: 110px;
  }
}
@media (min-width: 768px) {
  .questionary__form {
    position: relative;
  }
}
.questionary__cat-info {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 20px 23px;
  margin: 0;
}
@media (min-width: 768px) {
  .questionary__cat-info {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 72px;
    padding: 0 67px 0 71px;
    border-bottom: none;
  }
}
@media (min-width: 1440px) {
  .questionary__cat-info {
    padding: 0;
    padding-left: 110px;
    margin-right: auto;
    width: 570px;
  }
}
.questionary__form-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  position: relative;
}
.questionary__form-label:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .questionary__form-label {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
  }
}
.questionary__field-name {
  margin-right: 12px;
  margin-bottom: 2px;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .questionary__field-name {
    margin-right: 14px;
  }
}
.questionary__field--name {
  width: 228px;
}
.questionary__field--weight {
  width: 204px;
}
.questionary__field--age {
  width: 172px;
}
.questionary__field--mail {
  width: 220px;
}
.questionary__field--phone {
  width: 204px;
}
@media (min-width: 768px) {
  .questionary__field--name {
    width: 567px;
  }
  .questionary__field--weight {
    width: 536px;
  }
  .questionary__field--age {
    width: 497px;
  }
  .questionary__field--mail {
    width: 551px;
  }
  .questionary__field--phone {
    width: 535px;
  }
}
@media (min-width: 1440px) {
  .questionary__field--name {
    width: 506px;
  }
  .questionary__field--weight {
    width: 475px;
  }
  .questionary__field--age {
    width: 436px;
  }
  .questionary__field--mail {
    width: 486px;
  }
  .questionary__field--phone {
    width: 472px;
  }
}
.questionary__icon {
  position: absolute;
  right: 16px;
  top: 30%;
}
.questionary__icon--envelope {
  fill: none;
  stroke: #222222;
}
.questionary__icon--handset {
  fill: #000000;
}
@media (min-width: 768px) {
  .questionary__icon {
    right: 18px;
    top: 34%;
  }
}
@media (min-width: 1440px) {
  .questionary__icon {
    right: 16px;
    top: 31%;
  }
}
.questionary__field:focus + .questionary__icon--envelope {
  stroke: #68b738;
}
.questionary__field:focus + .questionary__icon--handset {
  fill: #68b738;
}
.questionary__field:focus:invalid + .questionary__icon--envelope {
  stroke: #ff8282;
}
.questionary__field:focus:invalid + .questionary__icon--handset {
  fill: #ff8282;
}
.questionary__program-selection {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  text-transform: uppercase;
  color: #222222;
  padding: 28px 20px 0;
  margin: 0;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .questionary__program-selection {
    padding: 30px 28px 5px;
    margin-left: 71px;
    margin-bottom: 75px;
    border-bottom: none;
    border: 1px solid #e7e7e7;
    width: 574px;
  }
}
@media (min-width: 1440px) {
  .questionary__program-selection {
    position: absolute;
    top: 10px;
    left: 800px;
    margin: -10px 110px 65px -40px;
    padding-bottom: 27px;
    width: 510px;
  }
}
.guestionary__contacts-form,
.questionary__comment,
.questionary__extra-form {
  border: none;
}
.guestionary__contacts-form {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  position: relative;
}
.guestionary__contacts-form::before {
  content: "";
  position: absolute;
  right: 0;
  top: 7%;
  background-color: #68b738;
  height: 2px;
  width: 100%;
  z-index: -1;
}
@media (min-width: 768px) {
  .guestionary__contacts-form {
    margin: 0;
    padding: 0;
    margin-bottom: 65px;
  }
  .guestionary__contacts-form::before {
    top: 10%;
  }
}
@media (min-width: 1440px) {
  .guestionary__contacts-form {
    margin-bottom: 69px;
  }
  .guestionary__contacts-form::before {
    top: 11%;
  }
}
.questionary__contacts-container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .questionary__contacts-container {
    padding: 0 65px 0 71px;
  }
}
@media (min-width: 1440px) {
  .questionary__contacts-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 110px;
  }
}
@media (min-width: 1440px) {
  .questionary__contacts-wrap label {
    margin-bottom: 0;
    margin-right: 78px;
  }
  .questionary__contacts-wrap label:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  .questionary__contacts-wrap span {
    margin-right: 17px;
    margin-left: 3px;
  }
}
.questionary__comment {
  padding: 0;
  margin: 0;
  position: relative;
}
.questionary__comment::after {
  content: "";
  position: absolute;
  right: 0;
  top: 6%;
  background-color: #68b738;
  height: 2px;
  width: 100%;
  z-index: -1;
}
@media (min-width: 768px) {
  .questionary__comment {
    margin: 0;
    padding: 0;
    margin-bottom: 65px;
  }
  .questionary__comment::after {
    top: 8%;
  }
}
@media (min-width: 1440px) {
  .questionary__comment {
    margin-bottom: 69px;
  }
}
.questionary__subtitle-form {
  margin: 0 0 35px;
  padding: 0 23px 0 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  display: inline-block;
}
@media (min-width: 768px) {
  .questionary__subtitle-form {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    padding: 0 40px;
    margin-left: 28px;
  }
}
@media (min-width: 1440px) {
  .questionary__subtitle-form {
    margin-left: 70px;
    margin-top: -3px;
  }
}
@media (min-width: 768px) {
  .questionary__subtitle-form br {
    display: none;
  }
}
.questionary__textarea {
  width: 280px;
  min-height: 150px;
  box-sizing: border-box;
  margin: 0 20px 26px;
  padding: 9px 12px 9px 15px;
  border: 1px solid #e7e7e7;
  resize: none;
  display: block;
}
.questionary__textarea::placeholder {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .questionary__textarea {
    width: 631px;
    min-height: 174px;
    margin: 0 67px 0 70px;
    padding: 10px 19px;
  }
  .questionary__textarea::placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 1440px) {
  .questionary__textarea {
    width: 1220px;
    margin: 0 110px;
  }
}
.questionary__extra-form {
  padding: 0;
  margin: 0;
  position: relative;
}
.questionary__extra-form::after {
  content: "";
  position: absolute;
  right: 0;
  top: 6%;
  background-color: #68b738;
  height: 2px;
  width: 100%;
  z-index: -1;
}
@media (min-width: 768px) {
  .questionary__extra-form {
    margin: 0;
    padding: 0;
  }
  .questionary__extra-form::after {
    top: 9%;
  }
}
@media (min-width: 1440px) {
  .questionary__extra-form {
    margin-bottom: 61px;
  }
  .questionary__extra-form::after {
    top: 15%;
  }
}
.questionary__list {
  margin: 0;
  margin-top: 4px;
  list-style-type: none;
  color: #000000;
  text-transform: uppercase;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .questionary__list {
    margin-top: -19px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 41px 58px;
    padding: 5px 67px 0 70px;
  }
}
@media (min-width: 1440px) {
  .questionary__list {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 110px;
    margin-top: -14px;
    column-gap: 81px;
  }
}
@media (min-width: 768px) {
  .questionary__item {
    font-size: 20px;
    line-height: 30px;
  }
}
.questionary__legend-form {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  display: block;
  text-align: center;
}
@media (min-width: 768px) {
  .questionary__legend-form {
    font-size: 16px;
    line-height: 1;
    position: absolute;
    right: 175px;
    bottom: 90px;
  }
}
@media (min-width: 1440px) {
  .questionary__legend-form {
    right: 35%;
    top: 92%;
  }
}
.questionary__button-apply {
  display: block;
  margin: 16px auto 21px;
  padding: 10px 44px;
  width: 280px;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .questionary__button-apply {
    padding: 14px 35px;
    margin: 60px auto 0 71px;
    font-size: 20px;
    line-height: 1;
  }
}
@media (min-width: 1440px) {
  .questionary__button-apply {
    width: 568px;
    padding: 15px 50px;
    margin-left: 110px;
    margin-top: 67px;
    margin-bottom: 4px;
  }
}
.questionary__control {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .questionary__control {
    margin-bottom: 0;
  }
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/oswaldregular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/oswaldmedium.woff2") format("woff2");
  font-display: swap;
}
.program-goal__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.program-goal__item {
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .program-goal__item {
    margin-bottom: 23px;
  }
}
@media (min-width: 1440px) {
  .program-goal__item:last-child {
    margin-bottom: 0;
  }
}
.details__food {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .details__food {
    border-bottom: 1px solid #cdcdcd;
    padding-top: 4px;
    padding-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .details__food {
    padding-bottom: 9px;
    padding-top: 5px;
  }
}
.details__food span {
  font-size: 12px;
  line-height: 16px;
}
@media (min-width: 768px) {
  .details__food span {
    font-size: 16px;
    line-height: 1;
  }
}
.item-show-more__wrapper {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .item-show-more__wrapper {
    margin-top: 0;
  }
}
.item-show-more__link-item {
  text-decoration: none;
  order: 1;
}
.item-show-more__title {
  margin: 23px 0 8px;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .item-show-more__title {
    margin: 49px 40px 23px;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .item-show-more__title {
    margin: 49px 10px 23px;
  }
}
.item-show-more__text {
  margin: 0;
  margin-bottom: 21px;
  font-size: 12px;
  line-height: 16px;
  order: 2;
}
@media (min-width: 768px) {
  .item-show-more__text {
    font-size: 16px;
    line-height: 18px;
    margin: 0 20px 87px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .item-show-more__text {
    margin: 0 0 87px;
  }
}
.item-show-more__button-show-all {
  width: 100%;
  font-size: 16px;
  order: 3;
  padding: 10px 60px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  color: #444444;
}
.item-show-more__button-show-all:hover {
  background-color: #ebebeb;
}
.item-show-more__button-show-all:active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .item-show-more__button-show-all {
    padding: 11px 0;
  }
}
@media (min-width: 1440px) {
  .item-show-more__button-show-all {
    padding: 10px 0;
  }
}
@media (min-width: 768px) {
  .item-show-more__image {
    cursor: pointer;
    width: 60px;
    height: 60px;
  }
}
.counter__list {
  width: 124px;
  text-align: center;
  position: relative;
}
@media (min-width: 768px) {
  .counter__list {
    width: 162px;
  }
}
.counter__number {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  padding: 14px 20px 17px;
  border: 1px solid #cdcdcd;
  border-radius: 4%;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .counter__number {
    min-height: 40px;
    font-size: 30px;
    line-height: 37px;
  }
}
.counter__description {
  width: 80px;
  margin: 0;
  font-size: 12px;
  line-height: 1;
  position: absolute;
  bottom: -14px;
  left: 17%;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .counter__description {
    background-color: #ffffff;
    font-size: 14px;
    width: 142px;
    bottom: -5px;
    left: 5%;
  }
  .counter__description--number {
    width: 114px;
    left: 15%;
  }
}
@media (min-width: 1440px) {
  .counter__description {
    background-color: #f2f2f2;
  }
}
.counter__description br {
  display: none;
}
.field {
  margin: 0;
  padding: 14px 15px;
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}
.field:hover {
  border-color: #cdcdcd;
}
.field:focus {
  border: none;
  outline: 2px solid #444444;
}
.field:focus:invalid {
  border: 2px solid #ff8282;
}
.field::placeholder {
  color: #444444;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .field {
    padding: 17px 19px;
  }
  .field::placeholder {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (min-width: 1440px) {
  .field {
    padding-left: 20px;
  }
}
.control {
  position: relative;
  display: block;
  padding-left: 45px;
}
@media (min-width: 768px) {
  .control {
    padding-left: 60px;
    font-size: 20px;
    line-height: 1.5;
  }
}
.control__mark {
  position: absolute;
  top: -6px;
  left: 0;
  width: 29px;
  height: 29px;
  border: 1px solid #cdcdcd;
}
.control__mark:hover {
  border-color: #bababa;
}
@media (min-width: 768px) {
  .control__mark {
    width: 39px;
    height: 39px;
    top: -6px;
    left: -2px;
  }
}
.control__input[type="radio"] + .control__mark {
  border-radius: 50%;
}
.control__input[type="radio"] + .control__mark:disabled {
  opacity: 0.3;
}
.control__input[type="radio"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .control__input[type="radio"]:checked + .control__mark::before {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 11px;
  }
}
.control__input[type="checkbox"]:checked + .control__mark::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 18px;
  height: 14px;
  background-image: url("../img/form/check-mark.svg");
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .control__input[type="checkbox"]:checked + .control__mark::before {
    width: 26px;
    height: 26px;
    top: 11px;
    left: 11px;
  }
}
/*# sourceMappingURL=style.css.map */
