.counter__list {
  width: 124px;
  text-align: center;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.counter__number {
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black-color;
  padding: 14px 20px 17px;
  border: 1px solid @range-color;
  border-radius: 4%;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    min-height: 40px;
    font-size: 30px;
    line-height: 37px;
  }
}

.counter__description {
  width: 80px;
  margin: 0;
  font-size: 12px;
  line-height: 1;
  position: absolute;
  bottom: -14px;
  left: 17%;
  background-color: @block-example-result-color;

  @media (min-width: @tablet-width) {
    background-color: @base-color;
    font-size: 14px;
    width: 142px;
    bottom: -5px;
    left: 5%;

    &--number {
      width: 114px;
      left: 15%;
    }
  }

  @media (min-width: @desktop-width) {
    background-color: @block-background-color;
  }
}

.counter__description br {
  display: none;
}
