.example-result__wrapper {
  width: 280px;
  background-color: @block-example-result-color;
  padding: 25px 20px 40px;

  @media (min-width: @tablet-width) {
    padding: 0;
    background-color: @base-color;
    width: 708px;
    margin-top: 53px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    margin-top: 0;
  }
}

.example-result__title {
  font-family: @font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: @black-color;
  margin: 0;
  margin-bottom: 40px;
}

.example-result__value {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    width: 366px;
    display: inline-flex;
    margin: 0;
    margin-top: 54px;
    margin-right: 167px;
  }
}

.example-result__list {
  margin: 0;
  margin-bottom: 20px;
  width: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 162px;
  }
}

.examle-result__number {
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: @black-color;
}

.example-result__description {
  margin: 0;
}

.example-result__text {
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @desktop-width) {
    width: 436px;
  }
}

.example-result__cat-before {
  display: inline-block;
  margin-bottom: 23px;
}

.example-result__range {
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @black-color;
  text-transform: uppercase;
  margin-left: 55px;
}

.example-result__cost {
  font-family: @font;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: @black-color;

  @media (min-width: @tablet-width) {
    display: inline-block;
    white-space: pre;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    display: block;
    white-space: normal;
  }
}
