.weight {
  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    padding: 60px 110px 71px;
    margin: 0 auto;
  }
}

.weight__wrapper {
  width: 240px;
  color: @base-font-color;
  background-color: @block-background-color;
  padding: 26px 20px 18px;
  margin: 0 auto;
  margin-bottom: 20px;

  &--gain .weight__title {
    padding-left: 70px;
    margin-top: 5px;

    &::after {
      content: "";
      background-image: url("../img/index/cat-pro.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 28px;
      width: 67px;
      left: -9px;
      top: 5px;
    }
  }

  @media (min-width: @tablet-width) {
    width: 629px;
    margin-top: -27px;
    margin-bottom: 57px;
    padding: 77px 27px 60px 52px;

    &--gain .weight__title {
      padding: 0;
      margin-top: -3px;
      padding-right: 268px;

      &::after {
        background-image: url("../img/index/cat-pro.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 112px;
        width: 268px;
        left: 360px;
        top: 56px;
      }
    }

    &:last-child {
      margin-bottom: 27px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 466px;
    margin: 0;
    margin-right: 80px;
    padding: 47px 52px 57px;

    &:nth-child(2n) {
      margin-right: 0;
      margin-bottom: 0;
    }

    &--gain .weight__title {
      padding: 0;
      padding-left: 162px;
      margin-top: 30px;

      &::after {
        background-image: url("../img/index/cat-pro.svg");
        background-repeat: no-repeat;
        background-size: contain;
        height: 56px;
        width: 134px;
        left: -20px;
        top: -10px;
      }
    }
  }
}

.weight__title {
  font-family: @font;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: @black-color;
  margin: 2px 0 29px;
  padding-left: 70px;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    height: 50px;
    width: 50px;
    background-color: @decorate-background-color;
    border-radius: 50%;
    position: absolute;
    left: 0;
    bottom: -7px;
  }

  &::after {
    content: "";
    background-image: url("../img/index/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 36px;
    position: absolute;
    left: 9px;
    bottom: -5px;
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 1;
    margin: 2px 0 24px;
    padding: 0;
    padding-right: 289px;

    &::before {
      content: "";
      height: 200px;
      width: 200px;
      top: 15px;
      left: 394px;
      bottom: 0;
    }

    &::after {
      content: "";
      background-image: url("../img/index/cat-slim.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 194px;
      width: 140px;
      position: absolute;
      left: 425px;
      bottom: 0;
      top: 4px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 30px;
    margin-bottom: 73px;
    padding-left: 162px;

    &::before {
      height: 100px;
      width: 100px;
      top: -30px;
      left: 0;
    }

    &::after {
      content: "";
      background-image: url("../img/index/cat-slim.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: 97px;
      width: 70px;
      position: absolute;
      left: 15px;
      top: -36px;
    }
  }
}

.weight-excerpt {
  width: 240px;
  padding-bottom: 23px;
  margin: 0 0 2px;
  border-bottom: 1px solid @weight-line-decoration;

  @media (min-width: @tablet-width) {
    width: 340px;
    border-bottom: none;
    margin: 0;
    margin-bottom: 37px;
    padding-bottom: 0;
    padding-right: 285px;
    font-size: 16px;
    line-height: 1.5;
    color: @black-color;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 12px;
    padding: 0;
    width: 470px;
  }
}

.weight__link-catalog {
  display: inline-block;
  text-decoration: none;
  color: @black-color;
  margin-top: 15px;
}

.weight__name-catalog {
  font-family: @font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  padding-right: 57px;
  cursor: pointer;
  background: url("../img/index/short-arrow.svg") no-repeat 100px 7px;

  &:hover {
    background: url("../img/index/longer-arrow.svg") no-repeat 100px 7px;
  }

  &:active {
    opacity: @opacity-active;
    background: url("../img/index/longer-arrow.svg") no-repeat 100px 7px;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    background-position: 131px 9px;

    &:hover,
    &:active {
      background-position: 125px 9px;
    }
  }

  @media (min-width: @desktop-width) {
    background-position: 133px 9px;
  }
}
