.field {
  margin: 0;
  padding: 14px 15px 11px 14px;
  background-color: @base-color;
  border: 1px solid @border-color-field;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;

  &:hover {
    border-color: @range-color;
  }

  &:focus {
    outline: 2px solid @base-font-color;
  }

  &::placeholder {
    color: @base-font-color;
    font-family: @font;
    text-transform: uppercase;
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1.5;
    padding: 12px 19px 8px 19px;
  }
}
