.questionary__form {
  margin-bottom: 21px;
}

.questionary__cat-info {
  border: none;
  text-transform: uppercase;
}

.questionary__program-selection {
  border: none;
  text-transform: uppercase;
  color: @extra-block-font-color;
}

.guestionary__contacts-form,
.questionary__comment,
.questionary__extra-form {
  border: none;
}

.questionary__subtitle-form {
  font-size: 24px;
  line-height: 26px;
  color: @black-color;
}

.questionary__field-name {
  text-transform: uppercase;
}

.questionary__list {
  list-style-type: none;
  color: @black-color;
  text-transform: uppercase;
}

.questionary__legend-form {
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  color: @black-color;
  align-items: center;
}
