.cat-products__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.cat-products__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 19px;
}

.cat-products__link-item {
  text-decoration: none;
}

.cat-products__title {
  color: @black-color;
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cat-products__details {
  list-style-type: none;
}

.cat-products__show-all {
  color: @base-font-color;
  background-color: @block-background-color;
}
