.details__food {
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid @range-color;
    padding-top: 4px;
    padding-bottom: 7px;
    margin-bottom: 3px;

    &:first-child span {
      &:nth-of-type(2) {
        margin-right: 5px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 7px;
    padding-top: 5px;
    margin-bottom: 2px;
  }
}

.details__food span {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 1;
  }
}
