.extra-goods {
  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.extra-goods__title {
  padding-left: 20px;
  font-family: @font;
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  color: @black-color;
  margin-bottom: 36px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 15px;
    background-color: @decorate-background-color;
    height: 2px;
    width: 17%;
  }

  @media (min-width: @tablet-width) {
    padding-left: 67px;
    padding-right: 36px;
    font-size: 36px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 23px;
      background-color: @decorate-background-color;
      height: 2px;
      width: 30px;
    }

    &::after {
      width: 40%;
      top: 23px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 110px;
      margin-bottom: 81px;

      &::before {
        left: 0;
        top: 23px;
        width: 70px;
      }

      &::after {
        width: 957px;
        top: 23px;
      }
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 110px;
  }
}

.extra-goods__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
    display: flex;
    justify-content: space-between;
  }
}

.extra-goods__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    border: 1px solid @range-color;
  }

  @media (min-width: @desktop-width) {
    border: none;
    border-top: 1px solid @range-color;
    border-bottom: 1px solid @range-color;
    display: flex;
    flex-direction: column;
    width: 896px;
  }
}

.extra-goods__item {
  margin-bottom: 19px;
  padding-top: 13px;
  border-top: 1px solid @range-color;
  display: grid;
  grid-template-columns: 1fr 39px;
  grid-template-rows: auto auto 40px;
  row-gap: 14px;

  &:last-child {
    border-bottom: 1px solid @range-color;
    margin-bottom: 0;
    padding-bottom: 19px;
  }

  @media (min-width: @tablet-width) {
    padding: 28px 38px;
    grid-template-columns: 1fr 132px 48px 45px;
    grid-template-rows: auto 23px 40px;
    row-gap: 0;
    margin-bottom: 0;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 15px 0 17px;
    display: grid;
    grid-template-columns: 1fr 163px auto 112px auto 38px 244px;
    grid-template-rows: 40px;
  }
}

.extra-goods_subtitle {
  margin: 0;
  font-family: @font;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: @extra-block-font-color;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.extra-goods__amount {
  line-height: 20px;
  grid-column: 1/2;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    grid-column: 2/3;
  }

  @media (min-width: @desktop-width) {
    grid-column: 3/4;
  }
}

.extra-goods__price {
  line-height: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    grid-column: 4/5;
  }

  @media (min-width: @desktop-width) {
    grid-column: 5/6;
  }
}

.extra-goods__button-form {
  grid-column: 1/-1;
  padding: 10px;

  @media (min-width: @tablet-width) {
    grid-row: 3/4;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1;
    grid-column: 7/8;
  }
}

.extra-goods__benefit {
  background-image: url("../img/catalog/cat-in-backpack.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
  margin-top: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../../img/catalog/cat-in-backpack@2x.jpg");
    background-size: contain;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/catalog/cat-in-backpack-tablet.png");
    width: 707px;
    height: 200px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/catalog/cat-in-backpack-tablet@2x.jpg");
      background-size: contain;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/catalog/cat-in-backpack.jpg");
    background-position: -36px 0;
    width: 245px;
    height: 289px;
    margin-top: 0;
    margin-left: -5px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../../img/catalog/cat-in-backpack@2x.jpg");
      background-size: cover;
    }
  }
}

.extra-goods__overlay {
  width: 100%;
  height: 100%;
  background-color: @opacity-background-color;
}

.extra-goods__benefit-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: @base-color;
  align-items: center;
  text-align: center;
  position: relative;
  top: 128px;
  padding: 57px;

  &::before {
    content: url("../img/catalog/icon_gift.svg");
    position: absolute;
    left: 35%;
    bottom: 90%;
  }

  @media (min-width: @tablet-width) {
    width: 160px;
    top: 15px;
    left: 380px;
    text-align: left;

    &::before {
      bottom: 0;
      top: 45px;
      left: -310px;
    }
  }

  @media (min-width: @desktop-width) {
    top: 184px;
    left: 35px;
    text-align: center;
    padding: 10px;

    &::before {
      top: -120px;
      left: 50px;
    }
  }
}
