@decorate-background-color: #68b738;
@base-font-color: #444444;
@base-color: #ffffff;
@range-color: #cdcdcd;
@block-background-color: #f2f2f2;
@black-color: #000000;
@opacity-background-color: rgba(104, 183, 56, 0.85);
@opacity-hover: 0.6;
@opacity-active: 0.3;
@extra-block-font-color: #222222;
@block-example-result-color: #eaeaea;
@contacts-color: #111111;
@font: "Oswald", sans-serif;
@lightgrey-line: #e6e6e6;

//Viewports
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
